<div class="container">
  <p class="price price-header">Price</p>
  <ul class="items-list">
    <li *ngFor="let item of items">
      <mat-divider></mat-divider>
      <div class="item">
        <div>
          <img [src]="item.bike.picture ? item.bike.picture : 'assets/bike-pic.jpg'" alt="{{item.bike.name}} picture">
          <div class="details">
            {{item.bike.name}}
            <br>Start:{{item.dateStart | date: 'shortDate'}}
            <br>End{{item.dateEnd | date: 'shortDate'}}
            <mat-icon (click)="removeItemFromOrder(item.bike.id)">cancel</mat-icon>
          </div>
        </div>
        <p class="">{{item.price}}$</p>
      </div>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <p class="price price-total">Total price: <b>{{totalPrice}}$</b></p>
</div>

