<div *ngIf="bike" class="container">
  <div>
    <img src="assets/bike-pic.jpg" alt="{{bike.name}}">
    <p>{{bike.name}}</p>
    <p>{{bike.description}}</p>
    <h3>Technical</h3>
    <ul *ngIf="bike.gear">
      <li *ngFor="let item of bike.gear">{{item}}</li>
    </ul>
  </div>

  <div>
    <form action="" [formGroup]="rentForm" (ngSubmit)="onSubmit()">
      <mat-label>Reservation</mat-label>
      <mat-divider></mat-divider>
      <div class="dates">
        <mat-form-field appearance="fill" class="date">
          <mat-label>Pickup</mat-label>
          <input (ngModelChange)="calcTotalPrice()" matInput [matDatepicker]="picker1" formControlName="dateStart">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="time">
          <mat-label>Time</mat-label>
          <select matNativeControl required>
            <option *ngFor="let h of rentalTime" value="h">{{h}}</option>
          </select>
        </mat-form-field>
      </div>


      <div class="dates">
        <mat-form-field appearance="fill" class="date">
          <mat-label>Return</mat-label>
          <input (ngModelChange)="calcTotalPrice()" matInput [matDatepicker]="picker2" formControlName="dateEnd" [min]="rentForm.controls.dateStart.value">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="time">
          <mat-label>Time</mat-label>
          <select matNativeControl required>
            <option *ngFor="let h of rentalTime" value="h">{{h}}</option>
          </select>
        </mat-form-field>
      </div>
<!--      Validation messages here!-->
      <div class="payment">
        <h2>Total ${{totalPrice}}</h2>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">Order now</button>
          <button mat-raised-button color="secondary" (click)="addToOrderList()">Add to order list</button>
        </div>
      </div>


    </form>
  </div>

</div>
