@import "src/app/shared/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;

  @include form-window;

  .date, .time {
    width: 100%;
  }

  .payment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (min-width: $screen-small) {
  .container {
    flex-direction: row;
    align-items: initial;
    margin-top: 3em;

    form {
      margin: 0 2em;
    }

    .dates {
      display: flex;
      .date {
        flex-grow: 3;
        margin-right: 0.5em;
      }

      .time {
        flex-shrink: 2;
      }
    }
  }
}
