@import "src/app/shared/variables";
:host {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 2em;

  @include form-window;
  form {
    flex-direction: column;
    .buttons {
      justify-content: center;
      button[type=submit] {
        max-width: 5em;
      }
    }
    .error-login {
      padding-top: 0.5em;
      text-align: center;
      p {
        color: red;
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $screen-medium) {
  .container {
    width: 30em;

    .register-btn {
      min-width: 20em;
    }
  }
}
