$screen-small: 480px;
$screen-medium: 768px;
$screen-large: 1024px;

// basic colors
$w: #e5e5e5;
$b: #151515;
$gray: #747474;

// form
$form-background: #fcfcfc;
$form-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
