<h2 *ngIf="!modeEdit" >Add new bike</h2>
<h2 *ngIf="modeEdit && bike">Edit <i>{{bike.name}}</i></h2>

<form [formGroup]="bikeForm" *ngIf="bikeForm && (formFields$ | async) as dropdowns">
  <mat-form-field appearance="standard">
    <ngx-mat-file-input formControlName="picture" [multiple]="false" [accept]="'image/png, image/jpeg'" [color]="'primary'">
    </ngx-mat-file-input>
    <small>Max size: {{ maxImgSizeMb }}[Mb]</small>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Bike name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="bikeForm.controls.name.invalid">Min 3 / Max 20 characters</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
    <mat-error *ngIf="bikeForm.controls.price.invalid">Must be positive numeral</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="bikeForm.controls.description.invalid">Min 15 / Max 2000 characters</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of dropdowns.type" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Size</mat-label>
    <mat-select formControlName="size">
      <mat-option *ngFor="let size of dropdowns.size" [value]="size">{{size}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let status of dropdowns.status" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <h4>Gear</h4>
    <button mat-mini-fab color="primary" type="button" (click)="addItem('')"><mat-icon>add</mat-icon></button>
  </div>

  <ng-container *ngIf="gear">
    <ng-container formArrayName="gear" *ngFor="let item of gear.controls; let i = index;">
      <div class="ingredient-group" [formGroupName]="i">
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <button mat-icon-button color="warn" type="button" (click)="removeItem(i)"><mat-icon>remove_circle</mat-icon></button>
      </div>
    </ng-container>
  </ng-container>

  <div class="form-buttons">
    <button mat-raised-button [disabled]="bikeForm.invalid || bikeForm.pristine" color="primary" (click)="onSave()">Save</button>
    <button type="submit" mat-raised-button (click)="onCancel()">Cancel</button>
  </div>

</form>

<!-- this works-->

<!--<ul *ngIf="($formFields | async) as res">-->
<!--  <li *ngFor="let type of res.type">{{type}}</li>-->
<!--</ul>-->

<!--this doesn't...-->

<!--<ul *ngIf="(bikeService.getBikeFormFields() | async) as res">-->
<!--  <li *ngFor="let type of res.type">{{type}}</li>-->
<!--</ul>-->

