<mat-toolbar>
  <div class="to-home" [routerLink]="['']">Header</div>
  <div class="user-action-buttons">
    <div class="item">
      <a [routerLink]="['checkout']"><mat-icon title="Checkout" class="checkout"> directions_bike</mat-icon></a>
    </div>

    <div (click)="logOut()" *ngIf = "logged; else notLogged" class="item">
      <mat-icon title="Log out">lock_open</mat-icon>
    </div>
    <ng-template #notLogged>
      <div class="item">
        <a [routerLink]="['login']"><mat-icon title="Log in">lock</mat-icon></a>
      </div>
    </ng-template>

  </div>
</mat-toolbar>
