mat-toolbar {
  display: flex;
  justify-content: space-between;

  .user-action-buttons, .admin-action-buttons {
    display: flex;
    a {
      color: inherit;
    }
    .item {
      padding-left: 2em;
      cursor: pointer;
    }
  }

  .admin-action-buttons {
    display: flex;
    list-style: none;
    li > a{
      padding-left: 2em;
    }
  }

  .to-home {
  }
}
