<div class="bikes-container" *ngIf="bikes$ | async as bikes;">
    <div class="bike-container" *ngFor="let bike of bikes">
      <a [routerLink]="['/bike', bike.id]" (click)="bikesService.setSearchForm(searchFormValues)">
        <img [src]="bike.picture ? bike.picture : 'assets/bike-pic.jpg'" alt="{{bike.name}} picture">
      </a>

      <div class="bike-info-container">
        <span class="bike-price">${{bike.price}}</span>
        <span class="bike-name">{{bike.name}}</span>
        <span class="bike-reviews">
        <p>Rating: {{bike.rating || 0}}</p>
        <p>{{bike.reviews?.length || 0}} reviews</p>
        </span>
      </div>
    </div>
</div>

<p class="no-results-message" *ngIf="(bikes$ | async)?.length === 0">No results for searching criteria</p>
